/* Animation definitions */
@keyframes entrance {
	from {opacity: 0;}
	to {opacity: 1;}
}

.jone-enter {
	opacity: 0.1;
}

.jone-enter.jone-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

.jone-leave {
	opacity: 1;
}

.jone-leave.jone-leave-active {
	opacity: 0.1;
	transition: opacity 300ms ease-out;
}

/* Responsiveness */

nav.visible-xs >ul>li {
	display: inline-block;
	
}

nav.visible-xs >ul {
	text-align: center;
}

/* Style stuff */

.navbar-light .navbar-nav .active>a:hover {
	background-color: transparent;
	border-bottom: solid 2px #e6e600;
}

.navbar-light .navbar-nav .inactive>a:hover {
	background-color: transparent;
	color: #337ab7;
}

.container .row h2 {
	color: #337ab7;
}

.container .row {
	animation-name: entrance;
	animation-duration: 1s;
}

.container .row p {
	font-size: 18pt;
}

.container .row p, a {
	font-family: 'Hind', serif;
	color: #337aa0;
}

.container .row a:hover {
	text-decoration: none;
	color: #e6e600;
}

.center-block {
	float: none;
}

.navbar>ul>li {
	display: inline-block;
}