/* Animation definitions */
@keyframes entrance {
	from {opacity: 0;}
	to {opacity: 1;}
}

.jone-enter {
	opacity: 0.1;
}

.jone-enter.jone-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

.jone-leave {
	opacity: 1;
}

.jone-leave.jone-leave-active {
	opacity: 0.1;
	transition: opacity 300ms ease-out;
}

/* Responsiveness */

nav.visible-xs >ul>li {
	display: inline-block;
	
}

nav.visible-xs >ul {
	text-align: center;
}

@media (max-width: 768px){
	#projects {
		margin-left: 25px;
	}
}

/* Style stuff */

.navbar-light .navbar-nav .active>a:hover, .navbar-header>a:hover {
	background-color: transparent;
	text-decoration: none;
	border-bottom: solid 2px #e6e600;
}

.navbar-light .navbar-nav .active a, .navbar-header a {
	text-decoration: none;
	background-color: transparent;
}

.navbar .navbar-header .navbar-toggle .icon-bar {
	color: #337ab7;
	background-color: #337ab7;
}

.navbar-light .navbar-nav .inactive>a:hover {
	background-color: transparent;
	color: #337ab7;
}

.container .row {
	color: #337ab7;
}

.container .row {
	animation-name: entrance;
	animation-duration: 1s;
}

.container .row p {
	font-size: 18pt;
}

.container .row p, a {
	font-family: 'Hind', serif;
	color: #337aa0;
}

.container .row a:hover {
	text-decoration: none;
	color: #e6e600;
}

.center-block {
	float: none;
}

.navbar-static-bottom ul>li {
	display: inline-block;
}

/* hovereffect */

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}